.academy__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  fill: $special-icons;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.academy__title {
  font-size: 16px;
  color: $text-special;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.academy__link:hover,
.academy__link:focus {
  fill: $basic-green;
  opacity: 1;
}


.academy__link:active {
  opacity: 0.3;
}
