.additional-products {
  padding-top: 37px;
  border-top: 1px solid $border-block;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    border-top: none;
  }
}

.additional-products__title {
  font-family: $site-fonts;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $basic-black;
  margin: 0;
  margin-bottom: 34px;
  position: relative;

  span {
    padding-right: 20px;
    background-color: $basic-white;

    @media (min-width: $tablet-width) {
      padding: 0 37px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 40px;
      padding-right: 35px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    border-top: none;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 80vw;
    height: 2px;
    left: 50%;
    top: 15px;
    background-color: $basic-green;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 102vw;
      top: 23px;
      right: 0;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-gap: 80px;
    padding-bottom: 83px;
  }
}
