.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: $site-fonts;
  border: none;
  background-color: rgba($basic-white, 0);

  @media (min-width: $tablet-width) {
    padding: 14px 20px;
  }
}

.button--primary {
  background-color: $basic-green;
  color: $basic-white;
}

.button--show-more {
  background-color: $special-background;
  color: $text-special;
}
