.catalog {
  border-top: 1px solid $border-bottom;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 44px;
  }
}
