.example {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: $example-background;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 135px;
  }
}

.example__title {
  font-family: $site-fonts;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.example__text {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 0;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
  }
}

.example__statistics {
  margin-top: 25px;
  margin-bottom: 26px;
}

.example__price {
  font-family: $site-fonts;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}

.example__price--name {
  @media (min-width: $desktop-width) {
    margin-right: 63px;
  }
}

.example__slider {
  margin-top: 23px;
}
