.example {
  background-color: $example-background;
  border-top: none;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-white 57%, $example-background 57%, $example-background 100%);
    border-top: 1px solid $border-menu;
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(to bottom, $basic-white 185px, transparent 185px),
      linear-gradient(to left, $slider-gradient calc(50% - 326px), $special-background calc(50% - 326px));
    border-top: none;
  }
}

.example__wrapper {
  padding-top: 27px;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 67px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 277px;
  }
}

.example__title {
  font-family: $site-fonts;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 64px;
    margin-bottom: 140px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 0;
    margin-bottom: 69px;
    padding-right: 0;
    width: 120%;
  }
}

.example__data {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
  }
}

.example__price {
  font-family: $site-fonts;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    text-align: center;
  }
}

.example__name {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 63px;
    margin-bottom: 0;
  }
}
