.food-list {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 59px;
  }
}

.food-list__item {
  padding-top: 21px;
  padding-bottom: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 8px 36px 39px;
    background-image: linear-gradient($basic-white 16%, $special-background 16%, $special-background 100%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    top: 0;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: $border-block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
