.food-list {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.food-list__item {
  padding-top: 19px;
  padding-bottom: 25px;
  border-top: 1px solid $border-block;
  border-bottom: 1px solid $border-block;

  @media (min-width: $tablet-width) {
    padding: 8px 36px 39px;
    margin-bottom: 60px;
    background-color: $special-background;
    border-top: none;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 40px;
    margin-bottom: 63px;
  }
}
