.form-group {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.form-group--cat {
  padding-top: 0;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form-group--diet {
  padding-top: 22px;
  padding-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    top: 0;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: $border-block;
  }

  &::after {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    bottom: 0;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: $border-block;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    margin-bottom: 69px;
    border: 1px solid $border-block;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.form-group--user {
  margin-top: 26px;
  padding-top: 52px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    padding-bottom: 69px;
  }
}

.form-group--comment {
  padding-top: 38px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.form-group--ingredients {
  padding-top: 34px;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    padding-bottom: 61px;
  }
}

.form-group__list {
  width: 100%;
}

.form-group__list--ingredients {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 61px;
    grid-row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form-group__list--user {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.form-group__title {
  margin: 0;
  padding: 0;
  font-family: $site-fonts;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
