.location {
  background-color: $special-background;

  @media (min-width: $desktop-width) {
    position: relative;
    height: 400px;
    padding: 95px 0 104px;
  }
}

.location--white {
  background-color: $basic-white;
}

.location__description {
  position: relative;
  padding: 28px 4px 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 63px 41px 58px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    padding: 61px 89px 51px 76px;
    width: 570px;
    z-index: 5;
    background-color: $basic-white;
  }
}

.location__text {
  margin: 0;
  line-height: 20px;
}

.location__text--ad {
  font-family: $site-fonts;
  font-size: 16px;
  color: $text-note;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.location__text--address {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.location__text--city {
  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.location__map {
  position: relative;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
