.main-nav {
  margin: 0;
  position: absolute;
  z-index: 5;
}

.main-nav__list {
  background-color: $basic-white;
}

.menu__item {
  text-align: center;
  border-bottom: 1px solid $border-menu;
}

.menu__link {
  display: block;
  padding: 22px 70px 24px 70px;
  color: $basic-black;
  font-family: $site-fonts;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
