.map {
  padding: 0;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
  }
}

.map__img {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.map__img--under {
  z-index: -5;

  @media (min-width: $desktop-width) {
    z-index: -15;
  }

  &::after {
    @media (min-width: $desktop-width) {
      z-index: -10;
    }
  }
}

.map__img img {
  display: flex;
  width: 100%;
  height: 100%;
}

.map__img::after {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 35px);
  z-index: 0;
  content: "";
  width: 57px;
  height: 53px;
  background-repeat: no-repeat;
  background-image: url("../img/map-pin.png");
  background-position: 0 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-pin-@2x.png");
    background-size: 57px auto;
  }

  @media (min-width: $tablet-width) {
    left: calc(50% - 56px);
    top: calc(50% - 53px);
    width: 113px;
    height: 106px;
    background-image: url("../img/map-pin-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-pin-tablet-@2x.png");
      background-size: 113px auto;
    }
  }
}

.map__leaflet {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -15;
}

.map__leaflet--script {
  z-index: 5;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
  }
}
