.page-footer {
  padding: 20px 0;
  background-color: $special-background;
}

.page-footer__logo {
  display: block;
  text-align: center;
  padding: 19px 0 32px;
  border-bottom: 1px solid $border-bottom;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}


.social__item {
  @media (min-width: $tablet-width) {
    margin-right: 27px;

    &:last-child {
      margin-right: 0;
    }
  }
}
