.page-header {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 44px;
    padding-bottom: 14px;
  }
}

.page-header--index::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    background-image: url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: $promo-background;
    width: 50%;
    height: 694px;
    overflow-y: visible;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-desktop-@2x.png");
      background-size: 720px auto;
    }
  }
}

.page-header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__short-wrapper {
  padding-top: 10px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-header__logo--img {
  margin-right: -12px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}

.page-header__logo--img img {
  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.page-header__logo--name {
  margin-top: 5px;
}

.page-header__logo--name img {
  @media (min-width: $tablet-width) {
    width: 101px;
    height: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:focus {
  opacity: 0.6;
}

.page-header__toggle {
  width: 24px;
  height: 20px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgba($basic-white, 0);
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page--header__toggle--open {
  background-image: url("../img/toggle_mobile.svg");
}

.page--header__toggle--close {
  background-image: url("../img/close_mobile.svg");
}
