.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  padding: 12px 24px 17px 20px;

  @media (min-width: $tablet-width) {
    padding: 24px 29px 20px 30px;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;

  img {
    margin-right: 57px;

    @media (min-width: $tablet-width) {
      margin-right: 12px;
    }
  }
}

.page-header__toggle {
  display: block;
  width: 24px;
  height: 20px;
  margin: 0;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgba($basic-white, 0);
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page--header__toggle--open {
  background-image: url("../img/toggle_mobile.png");
}

.page--header__toggle--close {
  background-image: url("../img/close_mobile.png");
}
