.page {
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: $text-special;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
}

.page__title {
  font-family: $site-fonts;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin: 0;
}

.page__title--form {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    border-top: none;
    margin-bottom: 54px;
  }
}

.page__title--catalog {
  margin-bottom: 41px;
}
