.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.product__link-image {
  order: 0;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 7px 0 14px 36px;
  display: flex;
  align-items: center;
  min-width: 140px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin-bottom: 32px;
    padding: 0;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.product__link-image--big {
  padding: 11px 0 14px 28px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.product__link-image img {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }
}

.product__link-image--big img {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 13px;
  order: 1;
  font-family: $site-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  grid-column-start: 2;
  grid-column-end: 3;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-left: 43px;
    padding-right: 36px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
    padding-right: 15px;
    font-size: 20px;
    line-height: 21px;
  }
}

.product__link-text {
  color: $product-title;
  text-transform: uppercase;
}

.product__company-name {
  display: block;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.product__count-food {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__button {
  order: 2;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    font-size: 16px;
    line-height: 20px;
  }
}

.product__show-more {
  padding: 25px 0;
}
