.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.product__link {
  order: 0;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  min-width: 140px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 18px;
  order: 1;
  font-family: $site-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  grid-column-start: 2;
  grid-column-end: 3;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-left: 43px;
    padding-right: 36px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
    padding-right: 15px;
    font-size: 20px;
    line-height: 21px;
  }
}

.product__title a {
  color: $product-title;
  text-transform: uppercase;
}

.product__button {
  order: 2;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    font-size: 16px;
    line-height: 20px;
  }
}

.product__show-more {
  padding: 25px 0;
}
