.program-description {
  padding-top: 27px;
  padding-bottom: 42px;
}

.program-description__title {
  font-family: $site-fonts;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.program-description__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 153px;
    grid-row-gap: 20px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.program-description__item {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 20px;
  background-repeat: no-repeat;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 250px;
    font-size: 16px;
    line-height: 24px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: 100% 0;

    &::before {
      display: block;
      margin-bottom: 31px;
    }
  }
}

.program-description__item--leaf {
  &::before {
    background-image: url("../img/leaf.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/one.png");
  }
}

.program-description__item--fluid {
  &::before {
    background-image: url("../img/fluid.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/two.png");
  }
}

.program-description__item--cutlery {
  &::before {
    background-image: url("../img/cutlery.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/three.png");
  }
}

.program-description__item--clock {
  &::before {
    background-image: url("../img/clock.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/four.png");
  }
}
