.programs {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82px;
  }
}

.programs__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.programs__item {
  background-color: $special-background;
  padding: 24px 33px 18px 13px;
  margin-bottom: 20px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 62px 53px 52px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 40px);
    margin-bottom: 30px;
    padding: 41px 51px 55px 52px;
  }
}

.program__title {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 19px;
  margin: 0;
  margin-bottom: 22px;
  font-family: $site-fonts;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic-black;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program__title--sit::before {
  width: 50px;
  height: 53px;
  background-image: url("../img/cat_sit.svg");
}

.program__title--go::before {
  width: 67px;
  height: 50px;
  background-image: url("../img/cat_go.svg");
}

.program__text {
  padding-bottom: 23px;
  border-bottom: 1px solid $border-bottom;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: auto;
  }
}

.program__link {
  font-family: $site-fonts;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 24px;
    height: 12px;
    background:
      url("../img/icon_arrow.svg")
      no-repeat
      0 0;
    margin-left: 15px;
  }

  &:hover {
    &::after {
      width: 32px;
      height: 12px;
      background-image: url("../img/icon_arrow-hover.svg");
    }
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
