.promo {
  background-image: url("../img/promo-background.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: rgba($basic-green, 0.85);
  color: $basic-white;
  text-align: center;
  padding: 27px 20px 0 20px;
}

.promo__title {
  font-family: $site-fonts;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.promo__slogan {
  font-family: $site-fonts;
  line-height: 14px;
  text-transform: uppercase;
}
