.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    background-image: none;
    padding: 124px 38px 38px;
    border: 2px solid $special-background;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -2px;
      top: -2px;
      width: calc(100% + 4px);
      min-height: 84px;
      background-color: $basic-white;
      border-bottom: 2px solid $special-background;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;

    &::before {
      height: 86px;
    }
  }
}

.show-more__title {
  font-family: $site-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-note;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto 23px;
    background-image: url("../img/plus_small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;

    &::before {
      margin: 0 auto 49px;
      width: 60px;
      height: 60px;
      background-image: url("../img/plus.svg");
    }
  }
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  width: 100%;
  margin-top: auto;
}
