.slider {
  @media (min-width: $desktop-width) {
    grid-row: 1/4;
    grid-column: 2/3;
  }
}

.slider__photos {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-left: -39px;

  @media (min-width: 340px) {
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -73px;
    margin-bottom: 22px;
  }
}

.slider__img {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider__img--early {
  width: 280px;
  height: 232px;
  display: inline;
  vertical-align: auto;
  background-image: url("../img/before-mobile.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/before-mobile-@2x.png");
    background-size: 280px 232px;
  }

  @media (min-width: $tablet-width) {
    width: 354px;
    height: 540px;
    background-image: url("../img/before-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/before-tablet-@2x.png");
      background-size: 354px 540px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 405px;
    background-image: url("../img/before-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/before-desktop-@2x.png");
      background-size: 405px 540px;
    }
  }
}

.slider__img--today {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    vertical-align: auto;
    margin-top: 12px;
    width: 354px;
    height: 540px;
    background-image: url("../img/after-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/after-tablet-@2x.png");
      background-size: 354px 540px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    left: -40px;
    width: 325px;
    height: 520px;
    background-image: url("../img/after-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/after-desktop-@2x.png");
      background-size: 325px 654px;
    }
  }
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 38px;
  margin-right: 34px;

  @media (min-width: $tablet-width) {
    margin-left: 68px;
    margin-right: 69px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 584px;
  }
}

.slider__scale {
  width: 84px;
  height: 14px;
  background-color: $basic-white;
  border-radius: 6px;
  padding: 4px 0 4px 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $line-scale;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 11px;
  }
}

.slider__value {
  width: 35px;
  height: 6px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    position: relative;
    left: 200px;
    top: -15px;
    width: 34px;
    height: 34px;
    border: 1px solid $special-border;
    border-radius: 50%;
    background-color: $basic-white;
    filter: drop-shadow(0 1px 3px rgba($basic-black, 0.16));
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      left: 12px;
      top: 12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basic-green;
    }
  }

  &:hover {
    filter: drop-shadow(0 2px 4px rgba($basic-black, 0.19));
  }

  &:focus {
    border: 1px solid $basic-green;
    filter: drop-shadow(0 3px 5px rgba($basic-black, 0.2));
  }
}

.slider__button {
  border: none;
  background-color: transparent;
  font-family: $site-fonts;
  font-size: 16px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba($basic-black, 0.4);
    padding: 0;

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba($basic-black, 0.4);
    }

    &:active {
      border-bottom: 1px solid $example-background;
    }
  }
}
