.slider__photos {
  display: flex;
  justify-content: center;
}

.slider__img {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider__img--early {
  width: 311px;
  height: 232px;
  display: inline;
  background-image: url("../img/before-mobile.png");
}

.slider__img--today {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    width: 251px;
    height: 240px;
    background-image: url("../img/after-mobile.png");
  }
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 27px;
  margin-right: 25px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.slider__scale {
  width: 84px;
  height: 14px;
  background-color: $basic-white;
  border-radius: 6px;
  padding: 4px 0 4px 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $line-scale;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 11px;
  }
}

.slider__value {
  width: 35px;
  height: 6px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    position: relative;
    left: 200px;
    top: -15px;
    width: 34px;
    height: 34px;
    border: 1px solid $special-border;
    border-radius: 50%;
    background-color: $basic-white;
    filter: drop-shadow(0 1px 3px rgba($basic-black, 0.16));

    &::after {
      content: "";
      position: absolute;
      left: 12px;
      top: 12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basic-green;
    }
  }

  &:hover {
    filter: drop-shadow(0 2px 4px rgba($basic-black, 0.19));
  }

  &:focus {
    border: 1px solid $basic-green;
    filter: drop-shadow(0 3px 5px rgba($basic-black, 0.2));
  }
}

.slider__button {
  border: none;
  background-color: $example-background;
  font-family: $site-fonts;
  font-size: 16px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba($basic-black, 0.4);
    padding: 0;

    &:hover {
      border-bottom: 1px solid rgba($basic-black, 0.4);
    }

    &:focus {
      border: none;
    }
  }
}
