.social {
  padding: 20px 82px 17px 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-bottom;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
  }
}

.social__link {
  fill: $special-icons;
}

.social__link--facebook {
  fill: none;
  stroke: $special-icons;
}

.social__link:hover,
.social__link:focus {
  fill: $basic-green;
  opacity: 1;
}

.social__link--facebook:hover,
.social__link--facebook:focus {
  fill: none;
  stroke: $basic-green;
  opacity: 1;
}

.social__link:active {
  opacity: 0.3;
}

.social__link--vk svg {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram svg {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook svg {
  @media (min-width: $tablet-width) {
    width: 18px;
    height: 27px;
  }
}
