.social {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-bottom;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
  }
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $basic-green;
}

.social__link:hover .social__icon--fb,
.social__link:focus .social__icon--fb {
  fill: none;
  stroke: $basic-green;
}

.social__link:focus {
  opacity: 0.3;
}
