.stats {
  max-width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 31px;

  @media (min-width: $tablet-width) {
    max-width: none;
  }
}

.stats__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    order: -2;
    position: absolute;
    left: 0;
    width: 124px;
    height: 56px;
    background-repeat: no-repeat;
    background-image: url("../img/weight_back.svg");
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      width: 162px;
      height: 77px;
      margin-right: 0;
      background-image: url("../img/weight_back_big.svg");
    }
  }
}

.stats__wrapper--time::before {
  grid-column: 2/3;
  left: auto;
  right: 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/weight_back_time.svg");
  }
}

.stats__data {
  order: -1;
  font-family: $site-fonts;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  text-align: center;
  margin: 0;
  margin-bottom: 6px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}
