.stats {
  display: flex;
  justify-content: space-between;
}

.stats__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.stats__data {
  order: -1;
  font-family: $site-fonts;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  text-align: center;
  margin: 0;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}
