.stats {
  max-width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 31px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    max-width: none;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.stats__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid $special-border;
  border-radius: 3px;
}

.stats__data {
  order: -1;
  font-family: $site-fonts;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  text-align: center;
  margin: 0;
  margin-bottom: 6px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.stats__description {
  position: relative;
  top: 11px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 20px;
  background-color: $example-background;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 0 10px;
    top: 6px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $example-background;
  }
}
