.text-field {
  margin-bottom: 14px;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-field__label,
.text-field__input {
  font-family: $site-fonts;
  font-size: 16px;
  color: $text-special;
  text-transform: uppercase;
}

.text-field__input {
  border: 1px solid $border-input;
  margin-left: 13px;
}

.text-field__label--radio,
.text-field__label--checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.text-field__label--radio::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 30px;
  height: 30px;
  border: 1px solid $special-border;
  border-radius: 50%;
  margin-right: 15px;
}

.text-field__label--checkbox::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 30px;
  height: 30px;
  border: 1px solid $special-border;
  margin-right: 15px;
}

.text-field__input--radio:checked ~ .text-field__label--radio::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: $basic-green;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.text-field__input--checkbox:checked ~ .text-field__label--checkbox::after {
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/checkbox.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 8px;
}

.text-field__input--textarea {
  resize: vertical;
}
