.text-field {
  margin-bottom: 14px;
  position: relative;
  //overflow: hidden;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.text-field--user {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.text-field--checkbox {
  @media (min-width: $desktop-width) {
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.text-field__label,
.text-field__input {
  font-family: $site-fonts;
  font-size: 16px;
  color: $text-special;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.text-field__label {
  white-space: nowrap;
}

.text-field__input {
  padding: 13px 15px 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $border-input;
  margin-left: 13px;
  padding-right: 15px;

  &:hover {
    border: 1px solid $special-border;
  }

  &:focus {
    border: 2px solid $text-special;
  }
}

.text-field__input::placeholder {
  font-family: $site-fonts;
  font-size: 16px;
  color: $text-special;
  text-transform: uppercase;
}

.text-field__icon {
  display: inline-flex;
  width: 20px;
  position: absolute;
  right: 19px;
}

.text-field__label--radio,
.text-field__label--checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.text-field__label--radio::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 30px;
  height: 30px;
  border: 1px solid $special-border;
  border-radius: 50%;
  margin-right: 15px;
}

.text-field__input--radio:hover ~ .text-field__label--radio::before {
  border: 1px solid $checkbox-hover;
}

.text-field__input--radio:focus ~ .text-field__label--radio::before {
  border: 2px solid $basic-green;
}

.text-field__input--radio:disabled ~ .text-field__label--radio {
  opacity: 0.3;
}

.text-field__input--radio:disabled ~ .text-field__label--radio::before {
  opacity: 0.3;
}

.text-field__label--checkbox::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 30px;
  height: 30px;
  border: 1px solid $special-border;
  margin-right: 15px;
}

.text-field__input--checkbox:hover ~ .text-field__label--checkbox::before {
  border: 1px solid $checkbox-hover;
}

.text-field__input--checkbox:focus ~ .text-field__label--checkbox::before {
  border: 2px solid $basic-green;
}

.text-field__input--checkbox:disabled ~ .text-field__label--checkbox {
  opacity: 0.3;
}

.text-field__input--radio:disabled ~ .text-field__label--checkbox::before {
  opacity: 0.3;
}

.text-field__input--radio:checked ~ .text-field__label--radio::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: $basic-green;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
}

.text-field__input--checkbox:checked ~ .text-field__label--checkbox::after {
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  left: 6px;

  @media (min-width: $tablet-width) {
    width: 26px;
    height: 26px;
  }
}

.text-field__input--textarea {
  width: 100%;
  resize: vertical;
  margin: 0;
  border: 1px solid $border-input;
}
