.user-form {
  padding: 37px 20px 32px;
}

.user-form__description {
  font-family: $site-fonts;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
  margin-bottom: 39px;
}

.user-form__note {
  line-height: 16px;
  color: $basic-black;
}
