//Fonts

$site-fonts: "Oswald", "Arial", sans-serif;

// Colors global

$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;

// Colors special

$border-menu: #e6e6e6;
$special-background: #f2f2f2;
$border-bottom: #d9d9d9;
$border-block: #ebebeb;
$text-special: #444444;
$example-background: #eaeaea;
$special-text: #111111;
$product-title: #222222;
$catalog-border: #cdcdcd;
