// Colors global

$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;

// Colors special

$background-green: rgba(104, 183, 56, 0.85);
$border-menu: #e6e6e6;
$background-program: #f2f2f2;
$border-bottom: #d9d9d9;
$text-small: #444444;
$example-background: #eaeaea;
$special-text: #111111;

$red-outline: #ff0000;
