//Fonts

$site-fonts: "Oswald", "Arial Narrow", sans-serif;

//Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

// Colors global

$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;

// Colors special

$border-menu: #e6e6e6;
$special-background: #f2f2f2;
$promo-background: #62a63a;
$border-bottom: #d9d9d9;
$border-block: #ebebeb;
$text-special: #444444;
$special-icons: #666666;
$example-background: #eaeaea;
$text-note: #111111;
$product-title: #222222;
$border-input: #e7e7e7;
$slider-gradient: #e5e5e5;
$special-border: #cdcdcd;
$line-scale: #dcdcdc;
$checkbox-hover: #bababa;
$button-green-hover: #5eaa2f;
$gift-background: #6bae42;
$border-error: #ff8282;
